
body{
    background-image: url(/images/spaceBG.jfif);
    background-repeat: repeat;
    background-size: 100%;
}


.text {
    color: white;
    
}



#main {
    display: flex;
    /* border: 3px solid red; */
    /* background-color: black; */
    max-height: 60vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* background-image: url(/images/spaceBG.jfif); */
    background-repeat: no-repeat;
    background-size: 100%;

}
        .gameItems {
            /* border: 3px solid white; */
            max-width: 20vw;
            max-height: 20vw;
        }

        #astronautBox{
            display: flex;
            justify-content: center;
        }
            #astronaut {
                max-width: 65%;
                image-orientation: flip;
            }
            
        
        #SPACESHIP{
            display: flex;
            justify-content: center;
        }
            #rocket {
            max-width: 113%;
        }

         
/*************************************************************************/

#timerBox {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 40vw;
    min-height: 30vh;
    max-height: 50vh;
}

        #title {
            /* border: 3px solid red; */
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: red;
            font-size: xxx-large;
        }

        #timerEl{
            /* border: 3px solid blue; */
            height: 16vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }
            #timerTitle{
                color: white;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                font-size: xx-large;
  
            }
            #timeLeft{
                border: 5px solid black;
                height: 10vh;
                width: 10vw;
                font-size: xx-large;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: grey;
            }

        #rules {
            border: 2px solid grey;
            background-color: black;
            max-height: 25vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: x-large;

        }
            #gameText{
                /* border: 3px solid green; */
                display: flex;
                flex-direction: column;
                max-width: 30w;
                max-height: 20vh;
                justify-content: center;
                font-size: xx-large;
                color: green;
            }
            #rulesList{
                /* border: 3px solid purple; */
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                min-height: 5vh;
                color: red;
            }



/* ***************************************** */

#textbox {
    /* border: 3px solid green; */
    min-height: 15vh;
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url("/images/stripes.svg");
    background-repeat: repeat;

    
    
}
        .box{
            border: 3px solid black;
            width: 8vw;
            height: 8vh;
            background-color: grey;
            font-size: xx-large;
            display: flex;
            justify-content: center;
            color: white;
            align-items: center;
            
        }

        






#playerUI {
    /* border: 3px solid purple; */
    height: 40vh;
    background-color: lightblue;
    background-image: url(/images/UI.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-position: 0%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
}

    #reset {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        #resetButton {
            min-height: 25vh;
            width: 5vw;
            border: 8px solid black;
            background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
        }



    #keyBoard {
        width: 80vw;
        
    }
        #keyBoardRows {
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            justify-content: center;
        }

                .row {
                    display: flex;
                    justify-content: center;
                    justify-content: space-between;
                    
                }

                .button {
                    /* border: 7px solid #FF6600; */
                    width: 6vw;
                    height: 5vw;
                    margin: 9px;
                    font-size: x-large;
                    background-color: #FF6600;
                    background-image: url(/images/stripes.svg);
                    background-size:  2350%;
                    background-repeat: repeat; 
                    background-position: 100%;
                }





    #startGame {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        #startButton {
            border: 8px solid black;
            min-height: 25vh;
            width: 5vw;
            background-color: green;
            font-size: xx-large;
        }
