

.text {
    color: white;
    
}



#main {
    display: flex;
    border: 3px solid red;
    background-color: black;
    max-height: 50vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url(/images/spaceBG.jfif);
    background-repeat: no-repeat;
    background-size: 100%;

}
        .gameItems {
            border: 3px solid white;
            max-width: 20vw;
            max-height: 20vw;
        }

        #astronaut {
            max-width: 50%;
        }
        #rocket {
            max-width: 50%;
        }

         
/*************************************************************************/

#timerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 50vw;
}

        #title {
            /* border: 3px solid red; */
            height: 10vh;
            display: flex;
            justify-content: center;
            color: red;
            font-size: xx-large;
        }

        #timerEl{
            /* border: 3px solid blue; */
            height: 16vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
        }
            #timerTitle{
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
            }
            #timeLeft{
                border: 5px solid black;
                height: 10vh;
                width: 40vw;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: grey;
            }

        #rules {
            /* border: 3px solid red; */
            height: 15vh;
            display: flex;
            justify-content: center;

        }



/* ***************************************** */

#textbox {
    border: 3px solid green;
    min-height: 15vh;
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url("/images/stripes.svg");
    background-repeat: repeat;

    
    
}
        .box{
            border: 3px solid black;
            width: 8vw;
            height: 8vh;
            background-color: grey;
            font-size: xx-large;
            display: flex;
            justify-content: center;
            color: white;
            align-items: center;
        }






#playerUI {
    border: 3px solid purple;
    height: 40vh;
    background-color: lightblue;
    background-image: url(/images/UI.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-position: 0%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
}

    #reset {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        #resetButton {
            height: 20vh;
            background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: large;

        }



    #keyBoard {
        width: 80vw;
        
    }
        #keyBoardRows {
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            justify-content: center;
        }

                .row {
                    display: flex;
                    justify-content: center;
                    justify-content: space-between;
                    
                }

                .button {
                    width: 3vw;
                    height: 3vw;
                }





    #startGame {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        #startButton {
            min-height: 25vh;
            background-color: green;
            font-size: x-large;
        }
